# ex1. Sum of a sequence

## My Solution

In [6]:
def sequence_sum(begin_num, end_num, step):
    return sum(range(begin_num, end_num+1, step)) if begin_num <= end_num else 0

Sample tests

In [7]:
sequence_sum(2, 2, 2)

2

In [8]:
sequence_sum(2, 6, 2)

12

In [9]:
sequence_sum(1, 5, 1)

15

In [10]:
sequence_sum(16, 15, 3)

0

In [11]:
sequence_sum(15, 1, 3)

0

In [12]:
list(range(15, 1, 3))

[]

## Best Solution

In [13]:
def sequence_sum(begin_number, end_number, step):
    return sum(range((begin_number, end_number+1, step)))

Note: 若函数range(start, end, step)的参数start>end,则list(range)返回一个空的列表

In [14]:
list(range(5, 2))

[]

# ex2. Sum of the first nth term of series
Series:1 + 1/4 + 1/7 + 1/10 + 1/13 + 1/16 + .....

## My Solution

In [66]:
def series_sum(n):
    return str("%.2f"%sum(1/i for i in range(1, 3*n, 3)))

Sample tests

In [67]:
series_sum(0)

'0.00'

In [68]:
series_sum(1)

'1.00'

In [69]:
series_sum(3)

'1.39'

## Best Solution

In [87]:
def series_sum(n):
    return "{:.2f}".format(sum(1/i for i in range(1, 3*n, 3)))

In [88]:
series_sum(1)

'1.00'

## Note: print()格式化输出

1.打印字符串

In [71]:
print("He's name is %s"%("Mike"))

He's name is Mike

2.打印整数

In [72]:
print("He is %d years old"%(25))

He is 25 years old

In [79]:
print("The length of (%s) is %d."%("zxcv", len("zxcv")))

The length of (zxcv) is 4.

3.打印浮点数

In [80]:
print("His height is %fm"%(1.78))

His height is 1.780000m

4.打印浮点数(保留两位小数)

In [82]:
print("His height is %.2fm."%(1.8))

His height is 1.80m.

5.左对齐

In [86]:
print("%-10.3f"%3.14)

3.140

## .format()格式化函数

In [90]:
"{:.2f}".format(1)

'1.00'

In [91]:
"{} {}".format("Hello", "world")   # 不设指定顺序，按默认顺序

'Hello world'

In [92]:
"{0} {1} {0}".format("Hello", "World")    # 设定指定位置

'Hello World Hello'